<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="scripts/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    <script type="text/javascript">
      /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
      (function(d, m){
        var kommunicateSettings = {"appId":"11fff2c7f93a9f1bc3432b766ade89863","conversationTitle":"Manchatter","botIds":["v1bot"]};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://api.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});
  </script>
  </head>
  <body>
      <center>
      <br/>
      <div class="header">
      
        <a href="#"><img src="images/man_utd_logo.png" alt="logoimage" width="120px;" height="120px;"></a>
        <h1 style="color:white; font-weight: 500; font-family: 'Roboto Condensed', sans-serif; font-size: 36px;">GLORY GLORY MAN UNITED!!!</h1>
      
    </div>

    <div class="messageBlock">
      
      <p>Please download these files</p>
      <ul>
        <li><a href='/documenthandler/downloadPrerequisites'>Requirements</a> (required Tools/IDEs/Packages/Dependencies etc)</li>
        <li><a href='/documenthandler/downloadCollectionsData'>Collections Data</a> (json data for MonogDB collections)</li>
        <li><a href='/documenthandler/assets'>Assets</a> (images to be used for client)</li>
        <!-- <li>Study Material (on Dialogflow/Webhooks/Git etc)</li> -->
      </ul>
    </div>
</center>
  </body>
</html>
