
html,body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/arena.jpg");
    background-size: cover;
  }
  
  a {
    color: #00B7FF;
  }

  .logo_img {
      height:100%;
      width: 50%;
      margin: 0 auto;
  }

  .header {
    margin-top:20px;
  }
  .messageBlock {
    margin-top:52px;
    padding-bottom: 20px;
    width: 50%;
    background-color:rgba(0,0,0,0.5);
    border-radius: 20px;
    color:white;
    text-align: left;
  }

  .messageBlock p {
    font-size: 22px;
    margin-left: 22px;
    padding-top: 22px;
  }

  .messageBlock li {
    font-size: 18px;
    margin-left: 22px;
    padding: 6px;
  }
